
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,600');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.footer{color:$body-bg; background-color: $blue;}
.home {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 60vh;
  margin: 0;
}

.home .full-height {
  height: 50vh;
}

.home .flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fff url('/images/bg_home.svg') no-repeat;
}

.home .position-ref {
  position: relative;
}

.home .top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.home .content {
  text-align: center;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.home .links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.home .m-b-md {
  margin-bottom: 30px;
}